.header {
    display: grid;
    grid-template-columns: 430px 120px 200px;
    justify-content: start;
    align-items: center;
    padding-top: 92px;
    padding-bottom: 90px;
}

.header__menu {
    display: grid;
    width: 450px;
    margin-top: 1px;
    margin-left: -2px;
}

.address {
    font-size: 18px;
    line-height: 1.37em;
    width: 470px;
    margin-left: 261px;
}

.header__links-list {
    display: grid;
    font-size: 18px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly ;
    align-items: center;
    margin-top: -3px;
    letter-spacing: 0.006em;
}
 
.header__links-list-item_1 {
    list-style: circle;
}

.header__links-list-item_2 {
    list-style: circle;
    margin-left: 33px;
}

.header__links-list-item_no-bullet {
    list-style: none;
    margin-left: 51px;
} 

.header__logo {
    width: 137px;
    margin-left: 53px;
}



/*конец header-----------------------------------------------------*/

.cover {
    position: relative;
    color: white;
    background-image: url("../images/cover.jpg");
    background-size: 125%;
    background-position-x: center;
    background-position-y: center;
    padding-bottom: 50px;
}

.overlay {
    position: absolute;
    z-index: 0;
    background-color: black;
    opacity:  0.3;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.cover__title {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.3em;
    color: white;
    font-size: 100px;
    word-spacing: -24px;
    padding-top: 163px;
}

.cover__description-text {
    margin-right: 80px;
    word-spacing: .9em;
    color: white;
    font-size: 22px;
    margin-left: 39px;
    margin-top: 67px;
}

.aligned-text {
    display: block;
    margin-left: 51px;
    z-index: 1;
}

.aligned-text_center {
    display: block;
    margin-left: 337px;
    margin-top: 11px;
    z-index: 1;
}

.aligned-text_right {
    display: block;
    margin-left: 637px;
    margin-top: 3px;
    z-index: 1;
}

.cover__description {
    padding: 60px 40px 0px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.bet-button {
    padding: 12px 31px;
    line-height: normal;
    color:inherit;
    background-color:inherit;
    cursor: pointer;
    margin-left: -3px;
    margin-top: 67px;
    border: 1px white solid;
    font-size: 22px;
}


    /*конец cover-------------------------------------*/
 
.lots {
    padding-top: 180px;

}
    
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: auto;
    padding: 41px 42px 48px 40px;
}

.lots__heading {
    font-size: 40px;
    margin-left: 63px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    padding: 26px 25px 0px 26px;
    list-style: none;
}


.lots__card-list-item {
    height: 100%;
}

.lots__look-more-link {
    display: block;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 64px;
}
   
.card-link {
    height: 100%;
    display: block;
    text-decoration: none;
}

.card_type_film {
    background-size: cover;
    background-image:url(../images/card-lot-01.jpg);
    background-position: center;
    
}
.card_type_book {
    background-size: cover;
    background-image:url(../images/card-lot-02.jpg);
    background-position: center;
}

.card_type_picture {
    background-size: cover;
    background-image: url(../images/card-lot-03.jpg);
    background-position: center;
}

.card__title {
    position: relative;
    z-index: 1;
    font-size: 22px;
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: -1px;
}

.card__text {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 20px;
}

/* конец lots -------------------------------------------*/

.about {
    padding-top: 169px;
    

}

.about__column {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    padding: 13px;
}

.about__logo {
        display: flex;
        justify-content: center;
    }

.about__logo-image-centr {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
}

.about__content {
    position: relative;
   
}

.about__title {
    display: block;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 101px;
    margin-left: 13px;
}

.about__text {
    font-size: 20px;
    margin-top: 100px;
    margin-left: 13px;
    margin-right: 25px;
    letter-spacing: 0.009em;
}

.about__text2 {
    font-size: 20px;
    margin-top: 24px;
    margin-left: 13px;
    margin-right: 40px;
}

/* конец about ----------------------------------------------------*/


.footer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 170px;
    margin-left: -3px;
}
 
.footer__address {
    font-size: 18px;
    margin-left: 55px;
    line-height: 1.37;
}

.footer__menu {
    text-align: center;
    margin-left: 6px;
    margin-top: -3px;
}

.footer__menu-list {
    font-size: 18px;
    list-style: none;
    margin-top: 2px;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

/*ссылки на соцсети*/

.footer__social-list {
    position: relative;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.footer__social-link {
    display: block;
    width: 49px;
    margin-right: -31px;
}