
.header {
    position: relative;
    display: grid;
    grid-template-columns: 430px 120px 200px;
    justify-content: start;
    align-items: center;
    padding-top: 92px;
    padding-bottom: 90px;
}

.header__menu {
    position: relative;
    width: 450px;
}

.address {
    font-size: 18px;
    line-height: 1.37em;
    width: 470px;
    margin-left: 261px;
}

.header__links-list {
    display: grid;
    font-size: 18px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly ;
    align-items: center;
    margin-top: -3px;
    letter-spacing: 0.006em;
}
 
.header__links-list-item_1 {
    list-style: circle;
    width: 155px;
    margin-left: 7px;
}

.header__links-list-item_2 {
    list-style: circle;
    margin-left: 28px;
}

.header__links-list-item_no-bullet {
    list-style: none;
    margin-left: 51px;
} 

.header__logo {
    width: 137px;
    margin-left: 53px;
}



/*конец header-----------------------------------------------------*/

.cover {
    position: relative;
    color: white;
    background-image: url("../images/cover.jpg");
    background-size: 125%;
    background-position-x: center;
    background-position-y: center;
    padding-bottom: 50px;
}

.overlay {
    position: absolute;
    z-index: 0;
    background-color: black;
    opacity:  0.3;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.cover__title {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.3em;
    color: white;
    font-size: 100px;
    word-spacing: -24px;
    padding-top: 163px;
}

.cover__description-text {
    margin-right: 80px;
    word-spacing: .9em;
    color: white;
    font-size: 22px;
    margin-left: 39px;
    margin-top: 67px;
}

.aligned-text {
    display: block;
    margin-left: 51px;
    z-index: 1;
}

.aligned-text_center {
    display: block;
    margin-left: 337px;
    margin-top: 11px;
    z-index: 1;
}

.aligned-text_right {
    display: block;
    margin-left: 637px;
    margin-top: 3px;
    z-index: 1;
}

.cover__description {
    padding: 60px 40px 0px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.bet-button {
    padding: 12px 31px;
    line-height: normal;
    color:inherit;
    background-color:inherit;
    cursor: pointer;
    margin-left: -3px;
    margin-top: 67px;
    border: 1px white solid;
    font-size: 22px;
}


    /*конец cover-------------------------------------*/
 .lots {
    padding: 179px 25px 0px 25px;
 }

 .lots__heading {
    font-size: 40px;
    margin-left: 40px;
 }

 .lots__card-list {
    margin-top: 27px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    list-style: none;
 }

 .lots__card-list-item {
    min-height: 564px;
 }
 
 .lots__look-more-link {
        display: block;
        font-size: 20px;
        margin-top: 29px;
        margin-left: 39px;
 }

 .card {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
 }

 .card-link {
    text-decoration: none;
    
 }

 .card_type_film {
    background-image: url(../images/card-lot-01.jpg);
 }

 .card_type_book {
    background-image: url(../images/card-lot-02.jpg);
 }

 .card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
 }

 .card__title {
    position: relative;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration-line: underline;
    line-height: 26px;
    font-weight: 700;
 }

 .card__text {
    color: white;
    font-size: 20px;
    position: relative;
    text-decoration: none;

 }

/* конец lots -------------------------------------------*/

.about {
    padding-top: 169px;
    

}

.about__column {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    padding: 13px;
}

.about__logo {
        display: flex;
        justify-content: center;
    }

.about__logo-image-centr {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
}

.about__content {
    position: relative;
    min-height: 560px;
   
}

.about__title {
    display: block;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 101px;
    margin-left: 13px;
}

.about__text {
    display: block;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 13px;
    margin-right: 25px;
    letter-spacing: 0.009em;
}

.about__text2 {
    display: block;
    font-size: 20px;
    margin-top: 24px;
    margin-left: 13px;
    margin-right: 40px;
    padding-top: 24px;
}

/* конец about ----------------------------------------------------*/


.footer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 146px;
    margin-bottom: 85px;
   
}
 
.footer__address {
    font-size: 18px;
    margin-left: 53px;
    line-height: 1.37;
    margin-top: 22px;
}

.footer__menu {
    text-align: center;
    align-self: center;
    margin-top: -15px;
}

.footer__menu-list {
    font-size: 18px;
    list-style: none;
    margin-top: 2px;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    position: relative;
    display: grid;
    grid-template-columns: 60px 60px 60px;
    justify-content: start;
    align-items: center;
    list-style: none;
    margin-top: -24px;
}
.footer__social-list-item_1 {
    margin-left: 79px;
}

.footer__social-list-item_2 {
    margin-left: 115px;
}

.footer__social-list-item_3 {
    margin-left: 151px;
}

.footer__social-link {
    display: block;
    width: 47px;
   
}